<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>About</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{url_for('.static', filename='fonts/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
		<link rel="icon" href="{{url_for('.static', filename='images/favicon.ico')}}" />
	</head>


	<body>
		

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="{{url_for('home')}}" id="branding">
						<img src="{{url_for('.static', filename='images/logo.png')}}" alt="" class="logo">
						<div class="logo-copy">
								<h1 class="site-title">Movie Rating Project</h1>
								<small class="site-description">Represent the prediction of movie rating.</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item"><a href="{{url_for('home')}}">Home</a></li>
							<li class="menu-item"><a href="{{url_for('mlist')}}">List</a></li>
							<li class="menu-item current-menu-item"><a href="{{url_for('about')}}">About</a></li>
						</ul> <!-- .menu -->
<!-- 
						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form> -->
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">

						<div class="row">
							<div class="col-md-4">
								<figure><img src="{{url_for('.static', filename='images/Lab.png')}}" alt="figure image"></figure>
							</div>
							<div class="col-md-8">
								<p class="leading">Pre-release Prediction of Crowd Opinion on Movies by Label Distribution Learning</p>
								<p>We implemented a LDL algorithm to predict the crowd opinion on movies. Basing on five-year movie data crawled from IMDB website, we manage to predict ratings of recent coming movies with the algorithm, comparing the prediction with real rating result on this website. Specifically, we evaluate movies before they are released. In order to prove that we indeed do the prediction in advance, blockchain technology is applied to generate timestamps for each prediction. Its details and mechanism can be found <a href="http://originstamp.org/home">here</a>.</p>
								<p>The whole project was completed under Prof. Geng's instruction in SEU <a href="http://palm.seu.edu.cn/">PALM</a> lab.</p>
							</div>
						</div>

						<div class="row">
							<div class="col-md-9">
									<h2 class="section-title">Our Team</h2>
									<div class="row">
										<div class="col-md-3">
											<div class="team">
												<!-- <figure class="team-image"><img src="{{url_for('.static', filename='dummy/person-2.jpg')}}" alt=""></figure> -->
												<h2 class="team-name">Prof. Xin Geng</h2>
												<small class="team-title">Advisor</small>
											</div>
										</div>
										<div class="col-md-3">
											<div class="team">
												<!-- <figure class="team-image"><img src="{{url_for('.static', filename='dummy/person-2.jpg')}}" alt=""></figure> -->
												<h2 class="team-name">Zongyuan Liu</h2>
												<small class="team-title">Member</small>
											</div>
										</div>
										<div class="col-md-3">
											<div class="team">
												<!-- <figure class="team-image"><img src="{{url_for('.static', filename='dummy/person-2.jpg')}}" alt=""></figure> -->
												<h2 class="team-name">Haoyu Ma</h2>
												<small class="team-title">Member</small>
											</div>
										</div>
										<div class="col-md-3">
											<div class="team">
												<!-- <figure class="team-image"><img src="{{url_for('.static', filename='dummy/person-2.jpg')}}" alt=""></figure> -->
												<h2 class="team-name">Ruifeng Shao</h2>
												<small class="team-title">Member</small>
											</div>
										</div>
										
								
									</div>
							</div>
						</div> <!-- .row -->
					
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">
					<div class="colophon">Designed by Themezy</div>
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->
		


		<script src="{{url_for('.static', filename='js/jquery-1.11.1.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/plugins.js')}}"></script>
		<script src="{{url_for('.static', filename='js/app.js')}}"></script>
		
	</body>

</html>