<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>Movie Review</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="{{url_for('.static', filename='fonts/font-awesome.min.css')}}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{{url_for('.static', filename='style.css')}}">
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
		<![endif]-->
		<link rel="icon" href="{{url_for('.static', filename='images/favicon.ico')}}" />
	</head>


	<body>
		

		<div id="site-content">
			<header class="site-header">
				<div class="container">
					<a href="{{url_for('home')}}" id="branding">
						<img src="{{url_for('.static', filename='images/logo.png')}}" alt="" class="logo">
						<div class="logo-copy">
							<h1 class="site-title">Movie Rating Project</h1>
							<small class="site-description">Represent the prediction of movie rating.</small>
						</div>
					</a> <!-- #branding -->

					<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="{{url_for('home')}}">Home</a></li>
							<li class="menu-item"><a href="{{url_for('mlist')}}">List</a></li>
							<li class="menu-item"><a href="{{url_for('about')}}">About</a></li>
						</ul> <!-- .menu -->

						<form action="#" class="search-form">
							<input type="text" placeholder="Search...">
							<button><i class="fa fa-search"></i></button>
						</form>
					</div> <!-- .main-navigation -->

					<div class="mobile-navigation"></div>
				</div>
			</header>
			<main class="main-content">
				<div class="container">
					<div class="page">
							<h1 class="movie-title">Selected Movies With Accurate Prediction</h1>	
						<div class="row">
							<div class="col-md-9">
								<div class="slider">
									<ul class="slides">
										<li style="height: 500px;"><a href="/{{entries1[0][0]}}/"><img src="{{entries1[0][2]}}" alt="{{entries1[0][1]}}"></a></li>
										<li style="height: 500px;"><a href="/{{entries1[1][0]}}/"><img src="{{entries1[1][2]}}" alt="{{entries1[1][1]}}"></a></li>
										<li style="height: 500px;"><a href="/{{entries1[2][0]}}/"><img src="{{entries1[2][2]}}" alt="{{entries1[2][1]}}"></a></li>
									</ul>
								</div>
							</div>
							<div class="col-md-3">
								<div class="row">
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie" style="height: 235px;">
											<a href="/{{entries1[3][0]}}/"><img src="{{entries1[3][2]}}" alt="{{entries1[3][1]}}"></a>
										</div>
									</div>
									<div class="col-sm-6 col-md-12">
										<div class="latest-movie" style="height: 235px;">
											<a href="/{{entries1[4][0]}}/"><img src="{{entries1[4][2]}}" alt="{{entries1[4][1]}}"></a>
										</div>
									</div>
								</div>
							</div>
						</div> <!-- .row -->
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie"style="height: 150px;">
									<a href="/{{entries1[5][0]}}/"><img src="{{entries1[5][2]}}" alt="{{entries1[5][1]}}"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie"style="height: 150px;">
									<a href="/{{entries1[6][0]}}/"><img src="{{entries1[6][2]}}" alt="{{entries1[6][1]}}"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie"style="height: 150px;">
									<a href="/{{entries1[7][0]}}/"><img src="{{entries1[7][2]}}" alt="{{entries1[7][1]}}"></a>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="latest-movie"style="height: 150px;">
									<a href="/{{entries1[8][0]}}/"><img src="{{entries1[8][2]}}" alt="{{entries1[8][1]}}"></a>
								</div>
							</div>
						</div> <!-- .row -->
						<h1 class="movie-title">Recent Movies</h1>	
						<div class="row">
							<div class="col-md-4">
								<ul class="movie-schedule">
									<li>
										<div class="date">{{entries2[0]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[0]['id']}}/">{{entries2[0]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[1]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[1]['id']}}/">{{entries2[1]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[2]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[2]['id']}}/">{{entries2[2]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[3]['date']}}</div>
											<h2 class="entry-title"><a href="/{{entries2[3]['id']}}/">{{entries2[3]['title']}}</a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<ul class="movie-schedule">
									<li>
											<div class="date">{{entries2[4]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[4]['id']}}/">{{entries2[4]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[5]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[5]['id']}}/">{{entries2[5]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[6]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[6]['id']}}/">{{entries2[6]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[7]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[7]['id']}}/">{{entries2[7]['title']}}</a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
							<div class="col-md-4">
								<ul class="movie-schedule">
									<li>
											<div class="date">{{entries2[8]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[8]['id']}}/">{{entries2[8]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[9]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[9]['id']}}/">{{entries2[9]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[10]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[10]['id']}}/">{{entries2[10]['title']}}</a></h2>
									</li>
									<li>
											<div class="date">{{entries2[11]['date']}}</div>
										<h2 class="entry-title"><a href="/{{entries2[11]['id']}}/">{{entries2[11]['title']}}</a></h2>
									</li>
								</ul> <!-- .movie-schedule -->
							</div>
						</div>
					</div>
				</div> <!-- .container -->
			</main>
			<footer class="site-footer">
				<div class="container">

					<div class="colophon">Designed by Themezy.</div>
				</div> <!-- .container -->

			</footer>
		</div>
		<!-- Default snippet for navigation -->
		

		<script src="{{url_for('.static', filename='js/jquery-1.11.1.min.js')}}"></script>
		<script src="{{url_for('.static', filename='js/plugins.js')}}"></script>
		<script src="{{url_for('.static', filename='js/app.js')}}"></script>
		
	</body>

</html>