{% extends "bootstrap/base.html" %}
{% block title %} Movie Rating {%endblock%}

{% block scripts %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{{ super() }}
{% endblock %}

{% block navbar %}
    {{nav.top.render(renderer='custom')}}
{%endblock%}

{% block content %}
<script src="{{url_for('static', filename='js/highcharts.js') }}"></script>
    <div class="center"> 
    <center><table border="0" class="table">
            <tr style="height:60px;">
            </tr>
        <tr style="width:800px;">
        {% for movie in movies %}
            <table border="0" class="table">
                <tr><td>
                <center><p><img src="{{movie[2]}}" width="180px" height="240px">
                    </p><center>
                    <center><center><a href="/details/{{movie[0]}}"> {{movie[1]}}</a><center>
                </td><td>
        <script type="text/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'line'
            },
            title: {
                text: 'Rating Distribution Comparison'
            },
            xAxis: {
                text: 'Rating Points',
                categories: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
            },
            yAxis: {
                title: {
                    text: 'Percentage(%)'
                }
            },
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    },
                    enableMouseTracking: true
                }
            },
            series: [{
                name: 'Predicted Distribution(BFGS)',
                color: '#4D4DFF',
                data: [{% for rating in movie[3] %}{{rating}}/100{% if loop.index ==10%}
                            ]
                            },{
                                name: 'Real Distribution',
                                color:'#000000',
                                data: [
                            {% elif loop.index == 20 %}]}{% else%},{% endif %}
                        {% endfor %}]
        });
    </script>
                    <div id="container" style="width: 600px; height: 300px; margin: 0 auto"></div>
        Predicted on {{movie[4]}}
                 </td>   
                </tr>
            </table>
            </tr>
            <tr style="height:500px;">
        {% endfor %}
        </tr>
    </table></center>
    </div>
{% endblock %}