{% extends "bootstrap/base.html" %}
{% block title %} Movie Rating {%endblock%}

{% block scripts %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{{ super() }}
{% endblock %}

{% block navbar %}
    {{nav.top.render(renderer='custom')}}
{%endblock%}

{% block content %}
<script src="{{url_for('static', filename='js/highcharts.js') }}"></script>
<div class="center"> 
    <table border="0" style="max-width: 900px;  margin: 0 auto">
        <tr style="height:70px;">
        </tr>
        <tr><td><p><img src="{{movie['cover_url'][0]}}" width="320" height="430">
                        </p>
            </td>
            <td width="60">
            </td>
            <td>
                <table border="0">
                    {%for keyword in info_cols%}
                    <tr><td width="500">
                        {%if keyword == 'runtimes' %}
                        <b>Runtime : </b>{{movie[keyword]}} mins
                        {% elif keyword == 'year' %}
                        <b>Year : </b>{{movie[keyword]}}
                        {% elif movie[keyword]=='-' %}
                        <b>{{name[keyword]}} : </b>No information  
                        {% else %}
                        <b> {{name[keyword]}} : </b>
                            {%for item in movie[keyword] %}
                                {{item}},
                            {% endfor %}
                        {% endif %}
                        </td>
                        </tr>
                    {% endfor %}
                </table>
            </td>
            </tr>

        </table>
        <div id="container" style="max-width: 700px; height: 400px; margin: 0 auto"></div>
        <script type="text/javascript">
            Highcharts.chart('container', {
                chart: {
                    type: 'line'
                },
                title: {
                    text: 'Rating Distribution Prediction'
                },
                xAxis: {
                    text: 'Rating Points',
                    categories: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
                },
                yAxis: {
                    title: {
                        text: 'Percentage(%)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                series: [{
                    name: 'Predicted Distribution(LDSVR)',
                    data: [{{movie['f_number_of_votes_1']}}/100, 
                    {{movie['f_number_of_votes_2']}}/100, 
                    {{movie['f_number_of_votes_3']}}/100, 
                    {{movie['f_number_of_votes_4']}}/100, 
                    {{movie['f_number_of_votes_5']}}/100, 
                    {{movie['f_number_of_votes_6']}}/100, 
                    {{movie['f_number_of_votes_7']}}/100, 
                    {{movie['f_number_of_votes_8']}}/100, 
                    {{movie['f_number_of_votes_9']}}/100, 
                    {{movie['f_number_of_votes_10']}}/100]
                },
                {
                    name: 'Predicted Distribution(BFGS)',
                    data: [{{movie['b_f_number_of_votes_1']}}/100, 
                    {{movie['b_f_number_of_votes_2']}}/100, 
                    {{movie['b_f_number_of_votes_3']}}/100, 
                    {{movie['b_f_number_of_votes_4']}}/100, 
                    {{movie['b_f_number_of_votes_5']}}/100, 
                    {{movie['b_f_number_of_votes_6']}}/100, 
                    {{movie['b_f_number_of_votes_7']}}/100, 
                    {{movie['b_f_number_of_votes_8']}}/100, 
                    {{movie['b_f_number_of_votes_9']}}/100, 
                    {{movie['b_f_number_of_votes_10']}}/100]
                }]
            });
                    </script>
</div>
{% endblock %}

