{% extends "bootstrap/base.html" %}
{% block title %} Movie Rating {%endblock%}

{% block scripts %}
<link rel="stylesheet" href="{{url_for('.static', filename='css/style.css')}}">
{{ super() }}
{% endblock %}

{% block navbar %}
    {{nav.top.render(renderer='custom')}}
{%endblock%}


{% block content %}
    <div class="center">    
            <table border="0" class="table">
                    <tr style="height:60px;">
                    </tr>
                <tr style="height:290px;">
                {% for movie in movies %}
                        <td valign="middle" style="width:232px;"><center><p><img src="{{movie[2]}}" width="180px" height="240px">
                            </p></center>
                            <center><a href="/newdetails/{{movie[0]}}"> {{movie[1]}}</a></center>
                        </td>
                    {% if loop.index % 5 == 0 %}
                        </tr>
                        <tr style="height:290px;">
                    {% endif %} 
                {% endfor %}
                </tr>
            </table>
    </div>
{% endblock %}